body{
    background-color: #eee;
    padding: 0;
    
}
.calc{
    width: 20rem;
    height: 32rem;
    border: 2px solid yellowgreen;
    background-color: black;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
}
.res{
    margin-top: 10px;
    width: 100%;
    height: 4rem;
    background-color: black;
    border: 2px solid rgb(200, 255, 0);
    color: #eee;
    border-radius: 20px;
}
button{
    margin-top: 10px;
    width: 74px;
    height: 74px;
    border-radius: 40px;
   
  
   
    
}
#equal{
    width: 100%;
}
button:hover{
    background-color: yellowgreen;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
}